body {
  margin: 0;
  padding: 0;
  background-color: #ffe4e1; 
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  overflow: hidden; 
}

.card h2 {
  color: #ff69b4;
  font-size: 5px;
  margin-bottom: 3px;
}

.card p {
  color: #333;
  font-size: 7px;
  line-height: 0.5;
}

.envelope {
  position: relative;
  width: 330px;
  height: 300px; /* Mas mataas para sa message */
  background: pink;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
  perspective: 800px;
}

.flap {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 50%;
  background: #ffb6b6;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform-origin: top center;
  transition: transform 0.6s ease;
  z-index: 2;
}

.message {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgb(255, 186, 186);
  padding: 6px;
  box-sizing: border-box;
  text-align: center;
  transition: top 0.6s ease;
  z-index: 1;
}

body {
  font-family: Arial, sans-serif;
  padding: 1rem;
  line-height: 1.6;
  word-wrap: break-word;
}

.card:hover .message {
  top: 0%; 
}

.envelope.open .flap {
  transform: rotateX(-180deg);
}

.envelope.open .message {
  top: 0;
}